name: Build Windows FAST (Folder Mode)

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install kivy==2.2.1 kivymd==1.2.0 pillow reportlab pyinstaller
          pip install kivy_deps.angle kivy_deps.glew kivy_deps.sdl2

      - name: Build EXE (Folder Mode)
        env:
          KIVY_GL_BACKEND: angle_sdl2
        run: |
          pyinstaller --name GlassDoorPC --onedir --noconsole --collect-all kivymd --hidden-import win32timezone main.py

      - name: Zip the Build
        run: |
          Compress-Archive -Path dist/GlassDoorPC -DestinationPath dist/GlassDoorPC_Portable.zip

      - name: Upload ZIP
        uses: actions/upload-artifact@v4
        with:
          name: GlassDoorPC-Rapido
          path: dist/GlassDoorPC_Portable.zip
